<div class="bag">
	<div class="container">
		<h1>Here’s what’s in your bag.</h1>
		<p>Free delivery and free returns.</p>
		<div class="bag__items">
			<img src="img/terminal_in_bag.png" alt="Terminal in bag" width="225">
			<div class="bag__items__info">
				<div class="bag__items__info__title">
					<h2>BCT Terminal + Wireless Keyboard and Mouse Combo</h2>
					<h2>Qty: 1
						<svg class="sprite-icon bag-icon arrow-down" role="img" aria-hidden="true">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#arrow-more"></use>
						</svg>
					</h2>
					<h2>$999.00</h2>
				</div>
				<a href="#" class="remove-link">Remove</a>
				<div class="bag__items__info__options">
					<svg class="sprite-icon bag-icon" role="img" aria-hidden="true">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#bag_icon-1"></use>
					</svg>
					<div class="bag__items__info__options__text">
						<h3>BCT 2 Year Next Day Exchange Service for Terminal $44.99</h3>
						<p class="small">Get up to two years of technical support and accidental damage coverage.</p>
						<a href="#" class="small">Learn more</a>
					</div>
					<a href="#">Add</a>
				</div>
				<div class="bag__items__info__delivery">
					<svg class="sprite-icon bag-icon" role="img" aria-hidden="true">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#bag_icon-2"></use>
					</svg>
					<div class="bag__items__info__delivery__text">
						<h4>Order today, delivers:</h4>
						<p class="small">Fri, Nov 2 - Free</p>
						<p class="small">Delivery options for: <a href="#" class="small">04106 <svg class="sprite-icon bag-icon arrow-down"
								 role="img" aria-hidden="true">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#arrow-more"></use>
								</svg> </a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="bag__form">
			<div class="bag__form__subtotal">
				<div>
					<p>Subtotal</p>
					<p>$999.00</p>
				</div>
				<div>
					<p>Shipping</p>
					<p>FREE</p>
				</div>
				<div>
					<p>
						<svg class="sprite-icon bag-icon question-icon" role="img" aria-hidden="true">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#bag_icon-3"></use>
						</svg>

						Estimated tax for: <a href="#">04106 <svg class="sprite-icon bag-icon arrow-down" role="img" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#arrow-more"></use>
							</svg> </a></p>
					<p>$79.70</p>
				</div>
				<div>
					<p>Have a promo code? <a>Enter it now <svg class="sprite-icon bag-icon arrow-down" role="img" aria-hidden="true">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#arrow-more"></use>
							</svg> </a> </p>
				</div>
			</div>
			<div class="bag__form__total">
				<h2>Total</h2>
				<div>
					<h2>$1,078.70</h2>
					<p class="small">Get up to 18 months of special financing <svg class="sprite-icon bag-icon-small" role="img"
						 aria-hidden="true">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#arrow-more"></use>
						</svg></p>
				</div>
			</div>
			<div class="bag__form__btn">Check Out</div>
		</div>
	</div>
</div>