<div class="bag">
	<div class="container">
		<h1>Here’s what’s in your bag.</h1>
		<p>Free delivery and free returns.</p>
		<div class="bag__items">
			<img src="img/terminal_in_bag.png" alt="Terminal in bag" width="235">
			<div class="bag__items__info">
				<div class="bag__items__info__title">
					<h2>BCT Terminal + Wireless Keyboard and Mouse Combo</h2>
					<h2>Qty:1</h2>
					<h2>$999.00</h2>
				</div>
				<a href="#" class="remove-link">Remove</a>
				<div class="bag__items__info__options">
					<svg class="sprite-icon bag-icon" role="img" aria-hidden="true">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#bag_icon-1"></use>
					</svg>
					<div class="bag__items__info__options__text">
						<h3>BCT 2 Year Next Day Exchange Service for Terminal $44.99</h3>
						<p>Get up to two years of technical support and accidental damage coverage.</p>
						<a href="#">Learn more</a>
					</div>
					<a href="#">Add</a>
				</div>
				<div class="bag__items__info__delivery">
					<svg class="sprite-icon bag-icon" role="img" aria-hidden="true">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#bag_icon-2"></use>
					</svg>
					<div class="bag__items__info__delivery__text">
						<h4>Order today, delivers:</h4>
						<p>Fri, Nov 2 - Free</p>
						<p>Delivery options for: <a href="#">04106</a></p>
					</div>
				</div>
			</div>
		</div>
		<div class="bag__form">
			<div class="bag__form__subtotal">
				<div>
					<p>Subtotal</p>
					<p>$999.00</p>
				</div>
				<div>
					<p>Shipping</p>
					<p>FREE</p>
				</div>
				<div>
					<p>Estimated tax for: <a href="#">04106</a></p>
					<p>$79.70</p>
				</div>
				<div>
					<p>Have a promo code? <a>Enter it now</a> </p>
				</div>
			</div>
			<div class="bag__form__total">
				<h2>Total</h2>
				<div>
					<h2>$1,078.70</h2>
					<p>Get up to 18 months of special financing</p>
				</div>
			</div>
			<div class="bag__form__btn">Check out</div>
		</div>
	</div>
</div>