
<div class="container">

    <div class="logo ir">
        <a href="/" class="logo__link">BCT</a>
    </div>

    <nav class="head-nav">
        <ul class="head-menu">
            <li class="head-menu__item"><a class="head-menu__link" href="#" onclick="goto('terminal');return false;" >Terminal</a></li>
            <li class="head-menu__item"><a class="head-menu__link" href="#" onclick="goto('menu1');return false;" >Support</a></li>
            <li class="head-menu__item">
                <a class="head-menu__link" href="#">
                    <svg class="head-menu__icon search" role="img" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#search"></use>
                    </svg>
                </a>
            </li>
            <li class="head-menu__item">
                <a class="head-menu__link" href="#">
                    <svg class="head-menu__icon lock" role="img" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#lock"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </nav>

</div>