
<div class="header__top">
	<div class="container">
		<div class="logo ir">
			<a href="/" class="logo__link">BCT</a>
		</div>
	
		<nav class="head-nav">
			<ul class="head-menu">
				<li class="head-menu__item"><a class="head-menu__link" href="index.html">The Terminal</a></li>
				<li class="head-menu__item"><a class="head-menu__link" href="#">Features</a></li>
				<li class="head-menu__item"><a class="head-menu__link" href="#">Compliance</a></li>
				<li class="head-menu__item"><a class="head-menu__link" href="#">Token</a></li>
				<li class="head-menu__item">
					<a class="head-menu__link" href="#">
						Support
						<svg class="head-menu__icon search" role="img" aria-hidden="true">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#search"></use>
						</svg>
					</a>
				</li>
				<li class="head-menu__item">
					<a class="head-menu__link" href="#" onclick="goto('order');return false;">
						<svg class="head-menu__icon lock" role="img" aria-hidden="true">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#lock"></use>
						</svg>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</div>

<div class="header__bottom">
	<div class="container">
		<img src="img/logo-terminal.svg" width="165" height="28">

		<ul class="terminal-menu">
			<li class="terminal-menu__item">
				<a class="terminal-menu__link" href="#">What’s in the Box?</a>
			</li>

			<li class="terminal-menu__item">
				<a class="terminal-menu__link" href="#">Technology</a>
			</li>

			<li class="terminal-menu__item">
				<a class="terminal-menu__link" href="#">Tech Specs</a>
			</li>
		</ul>
	</div>
</div>
