<section class="models">
    <div class="models__question">
        Part of the Terminal Upgrade Program or Interested in joining?
        <a class="head-menu__link" href="#">Check your upgrade eligibility ></a>
        <a class="head-menu__link" href="#">Learn more ></a>
    </div>
    <div class="models__mode">
        <ul>
            <li class="models__mode__item"><a class="models__mode__link" href="#">Mode</a></li>
            <li class="models__mode__item"><a class="models__mode__link" href="#">Option1</a></li>
            <li class="models__mode__item"><a class="models__mode__link" href="#">Option2</a></li>
            <li class="models__mode__item"><a class="models__mode__link" href="#">Option3</a></li>
        </ul>
    </div>
    <p class="models__title">Choose a Terminal model.</p>
    <div class="selections">
        <div class="selections__item">
            <div class="selections__item__imgwrapper">
                <img class="selections__item__imgwrapper__img" src="img/terminal_solo.png">
            </div>
            <div class="selections__item__info">
                <p class="info__new">New</p>
                <p class="info__title">Terminal Solo</p>
                <p class="info__size">32-inch display</p>
                <button>Select</button>
                <p class="info__desc">From $1,000.00/mo with the Terminal Upgrade Program <br>Or pay now from $9,999.</p>
            </div>
        </div>
        <div class="selections__item">
            <div class="selections__item__imgwrapper">
                <img class="selections__item__imgwrapper__img" src="img/terminal_max.png">
            </div>
            <div class="selections__item__info">
                <p class="info__new"></p>
                <p class="info__title">Terminal Max</p>
                <p class="info__size">Dual 38-inch display</p>
                <button style="background-color: gray;">Select</button>
                <p class="info__desc">From $5,400.00/mo with the Terminal Upgrade Program <br>Or pay now from $19,999.</p>
            </div>
        </div>
    </div>
</section>
<section class="carousel">

</section>
<section class="components">
    
</section>
<section class="movies">
    
</section>
<section class="fre-questions">
    
</section>