<section class="models">
    <div class="models__question"></div>
    <div class="models__mode"></div>
    <p class="models__title">Welcome to the New Terminal.</p>
    <div class="selections">
        <div class="selections__item">
            <img class="selections__item__img" src="img/Straight.png" width="200" height="200">
            <div class="selections__item__info">
                <p class="info__new">New</p>
                <p class="info__title">Terminal Solo</p>
                <p class="info__size">32-inch display</p>
                <button>Select</button>
                <p class="info__desc">From $1,000.00/mo with the Terminal Upgrade Program <br>Or pay now from $9,999.</p>
            </div>
        </div>
        <div class="selections__item">
            <img class="selections__item__img" src="img/ter,oma;_max.png" width="651" height="425">
            <div class="selections__item__info">
                <p class="info__new">New</p>
                <p class="info__title">Terminal Solo</p>
                <p class="info__size">32-inch display</p>
                <button>Select</button>
                <p class="info__desc">From $1,000.00/mo with the Terminal Upgrade Program <br>Or pay now from $9,999.</p>
            </div>
        </div>
    </div>
</section>
<section class="carousel">

</section>
<section class="components">
    
</section>
<section class="movies">
    
</section>
<section class="fre-questions">
    
</section>