<section class="models">
    <div class="models__question">
        Part of the Terminal Upgrade Program or Interested in joining?
        <a class="head-menu__link" href="#">Check your upgrade eligibility ></a>
        <a class="head-menu__link" href="#">Learn more ></a>
    </div>
    <div class="models__mode">
        <ul>
            <li class="models__mode__item"><a class="models__mode__link" href="#">Mode</a></li>
            <li class="models__mode__item"><a class="models__mode__link" href="#">Option1</a></li>
            <li class="models__mode__item"><a class="models__mode__link" href="#">Option2</a></li>
            <li class="models__mode__item"><a class="models__mode__link" href="#">Option3</a></li>
        </ul>
    </div>
    <p class="models__title">Choose a Terminal model.</p>
    <div class="selections">
        <div class="selections__item">
            <div class="selections__item__imgwrapper">
                <img class="selections__item__imgwrapper__img" src="img/terminal_solo.png">
            </div>
            <div class="selections__item__info">
                <p class="info__new">New</p>
                <p class="info__title">Terminal Solo</p>
                <p class="info__size">32-inch display</p>
                <button>Select</button>
                <p class="info__desc">From $1,000.00/mo with the Terminal Upgrade Program <br>Or pay now from $9,999.</p>
            </div>
        </div>
        <div class="selections__item">
            <div class="selections__item__imgwrapper">
                <img class="selections__item__imgwrapper__img" src="img/terminal_max.png">
            </div>
            <div class="selections__item__info">
                <p class="info__new"></p>
                <p class="info__title">Terminal Max</p>
                <p class="info__size">Dual 38-inch display</p>
                <button style="background-color: gray;">Select</button>
                <p class="info__desc">From $5,400.00/mo with the Terminal Upgrade Program <br>Or pay now from $19,999.</p>
            </div>
        </div>
    </div>
</section>
<section class="carousel">
    <section class="carousel__content">
        <div class="carousel__content__item">
            <img src="img/pc_back.png">
        </div>
        <div class="carousel__content__item">
            <img src="img/pc_back.png">
        </div>
        <div class="carousel__content__item">
            <img src="img/pc_back.png">
        </div>
        <div class="carousel__content__item">
            <img src="img/pc_back.png">
        </div>
    </section>
</section>
<section class="components">
    <p class="components__title">What's in the Box</p>

    <div class="components__list">
        <div class="components__item">
            <img src="img/monitor.jpg">
            <p class="components__item__desc">HP 32" Envy Full HD <br>LED backlight Monitor</p>
        </div>
        <div class="components__item">
            <img src="img/keyboard.jpg">
            <p class="components__item__desc">Dell KM636 wireless <br>Keyboard and Mouse combo</p>
        </div>
        <div class="components__item">
            <img src="img/wire.jpg">
            <p class="components__item__desc">Power Card <br>US plug</p>
        </div>
        <div class="components__item">
            <img src="img/usb.jpg">
            <p class="components__item__desc">BCT Terminal. <br>HDMI Computer Stick</p>
        </div>
    </div>
</section>
<section class="movies">
    
</section>
<section class="fre-questions">
    
</section>