<div class="container">
	Order
</div>
<div class="order-modal">
	<svg class="sprite-icon close-icon" role="img" aria-hidden="true">
		<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#arrow-more"></use>
	</svg>
	<h3>Your Order Total</h3>
	<div class="gray-border-bottom">
		<div class="title-value">
			<div class="bold">1 item</div>
			<div> <a href="#">Edit bag</a> </div>
		</div>
	</div>
	<div class="gray-border-bottom">
		<div class="title-value">
			<div>Subtotal</div>
			<div>$1,449.00</div>
		</div>
		<div class="title-value">
			<div>Shipping</div>
			<div>FREE</div>
		</div>
		<div class="title-value">
			<div>Tax</div>
			<div>$79.70</div>
		</div>
	</div>
	<div class="title-value total bold">
		<div>Total</div>
		<div>$1,528.70</div>
	</div>
	<h3>Your Order Details</h3>
	<div class="gray-border-bottom order-details">
		<div class="title-value">
			<div><span class="bold">Delivers on:</span><br>Fri, Nov 2</div>
			<div> <a href="#">Change</a></div>
		</div>
	</div>
	<div class="gray-border-bottom order-details">
		<div class="title-value">
			<div class="gray-text">Shipping Details</div>
		</div>
	</div>
	<div class="gray-border-bottom order-details">
		<div class="title-value">
			<div class="gray-text">Payment</div>
		</div>
	</div>
	<div class="order-details">
		<div class="title-value">
			<div class="gray-text">Review</div>
		</div>
	</div>
</div>