<section class="section intro">
	<img class="intro__img" src="img/intro_img1.png" width="651" height="425">
	<p class="intro__title">Welcome to the New Terminal.</p>
	<p class="intro__desc">Lorem Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincilobortis nisl ut aliquip ex ea commodo.</p>

	<div class="intro__more" href="#">
		<a href="#">Watch the keynote
			<svg class="sprite-icon video" role="img" aria-hidden="true">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#video"></use>
			</svg>
		</a>

		<a href="#">Watch the films
			<svg class="sprite-icon arrow-more" role="img" aria-hidden="true">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#arrow-more"></use>
			</svg>
		</a>
	</div>
</section>