<section class="section intro">
	<img class="intro__img" src="img/intro_img1.png" width="651" height="425" data-aos="fade-in" data-aos-delay="500" data-aos-duration="2000">
	<div data-aos="fade-up" data-aos-duration="850" data-aos-delay="800">
		<p class="intro__title">Welcome to the New Terminal.</p>
		<p class="intro__desc">Lorem Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincilobortis nisl ut aliquip ex ea commodo.</p>
		
		<div class="intro__more" href="#">
			<a href="#">Watch the keynote
				<svg class="sprite-icon video" role="img" aria-hidden="true">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#video"></use>
				</svg>
			</a>
		
			<a href="#">Watch the films
				<svg class="sprite-icon arrow-more" role="img" aria-hidden="true">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#arrow-more"></use>
				</svg>
			</a>
		</div>
	</div>
</section>

<section class="section promo">
	<a class="promo__link" href="#" data-aos="fade-in" data-aos-duration="2000" data-aos-delay="500">
		<img class="promo__img" src="img/bct-promo.jpg" width="1036" height="580">
		<span class="promo__more">
			Watch the films
			<svg class="sprite-icon video" role="img" aria-hidden="true">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/sprite-inline.svg#video"></use>
			</svg>
		</span>
	</a>
</section>

<section class="section slogan">
	<div class="container" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="500">
		<p class="slogan__desc">The Blockchain Terminal (BCT) Provides a Turnkey Solution for Institutional Traders.</p>
		
		<a class="slogan__btn">Learn more</a>
	</div>
</section>

<section class="section monitor-features animated bounceIn">
	<div class="container">
		<div class="monitor-features__item" data-aos="fade-in" data-aos-delay="900" data-aos-duration="1500">
			<span>Easy Interface</span><br/>
			The BCT Terminal interfaces with 80+ exchanges, trading all major crypto-currencies. With secure low-latency access, and a consolidated order book, trades execute at high speeds. All exchanges are accessed by our unified KYC Registration.
		</div>

		<div class="monitor-features__item" data-aos="fade-in" data-aos-delay="900" data-aos-duration="1500">
			<span>Security Hardened</span><br/>
			Powered by Linux, our platform boasts reliability, uptime, and hardened security. Only certified devices are allowed to be connected in the closed ecosystem. The platform’s software prioritizes security, efficiency, and simple DevOps community integration.
		</div>

		<div class="monitor-features__item" data-aos="fade-in" data-aos-delay="900" data-aos-duration="1500">
			<span>Token Powered</span><br/>
			The BCT Token powers all App subscriptions as an ERC20 token, and is easily stored. Our open App community is offered a revenue share with all approved Apps, encouraging an open development environment.
		</div>

		<img class="monitor-features__img" src="img/intro_img2.png" width="368" height="1123">
	</div>
</section>

<section class="section slogan">
	<div class="container" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="500">
		<p class="slogan__desc">Navigate the Crypto Markets Easily With Our Consolidated Order Book, Real-time Market Data, and ComplianceGuard Technology.</p>
		
		<a class="slogan__btn">Learn more</a>
	</div>
</section>

<img class="company-img" src="img/company-style.jpg" width="1920" height="1427" data-aos="fade-in" data-aos-duration="2000" data-aos-delay="500">
