/* Content
-----------------------------------------------------------------------------*/

.content {
	padding: 100px 0 0;
	display: flex;
	flex-direction: column;
	height: 100%;
	flex: 1 1;

	& > section {
		width: 100%;
	}
}

.section{
	color: #F4DED1;
}

.intro{
	align-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	margin: 32px 0 132px;

	&__img{
		
	}

	&__title{
		max-width: 600px;
		font-size: 80px;
		font-family: $sfpDisplaySB;
		margin: 12px auto 40px;
		line-height: 1.22;
	}

	&__desc{
		max-width: 740px;
		font-size: 32px;
		font-family: $sfpDisplaySB;
		margin: 0 auto 61px;
		line-height: 1.2;
	}

	&__more{
		font-family: $sfpDisplaySB;
		font-size: 24px;

		a{
			margin: 0 30px;
			color: #F4DED1;

			&:hover{
				color: #66b9ff;

				.sprite-icon{
					fill: #66b9ff;
				}
			}
		}

		.sprite-icon{
			position: relative;
			fill: #F4DED1;
			margin: 0 0 0 5px;
			transition: all 0.1s;

			&.video{
				top: 5px;
				width: 26px;
				height: 26px;
			}

			&.arrow-more{
				width: 7px;
				height: 13px;
			}
		}
	}
}

.promo{

	&__link{
		position: relative;
		max-width: 990px;
		display: block;
		margin: 0 auto;

		&:hover{
			.promo__more{
				color: #66b9ff;

				.sprite-icon{
					fill: #66b9ff;
				}
			}
		}
	}

	&__img{
		display: block;
		width: 100%;
		height: auto;
	}

	&__more{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 210%);
		font-size: 24px;
		transition: all 0.1s;
		color: #fff;

		.sprite-icon{
			position: relative;
			fill: #fff;
			margin: 0 0 0 5px;
			transition: all 0.1s;

			&.video{
				top: 5px;
				width: 26px;
				height: 26px;
			}

			&.arrow-more{
				width: 7px;
				height: 13px;
			}
		}
	}
}

.slogan{
	font-family: $sfpDisplaySB;
	margin: 112px 0 162px;
	padding: 0;

	&__desc{
		font-size: 80px;
		margin: 0 0 30px;
		line-height: 1.22;
	}

	&__btn{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 160px;
		border-radius: 28px;
		font-size: 18px;
		height: 54px;
		border: 2px solid #F4DED1;
		cursor: pointer;
		color: #F4DED1;

		&:hover{
			text-decoration: none;
			color: #66b9ff;
			border-color: #66b9ff;
		}
	}
}

.monitor-features{
	position: relative;
	margin: 270px 0 156px;
	padding: 40px 0 60px;
	background: linear-gradient(to bottom, #000000 0%,#111111 100%);

	&__img{
		margin: 0 auto;
		position: relative;
		left: 48px;
	}

	&__item{
		font-size: 21px;
		width: 330px;
		padding: 15px;
		position: absolute;
		line-height: 1.22;

		span{
			color: #fff;
		}

		&:nth-child(1){
			left: 15px;
			top: 28px;
		}

		&:nth-child(2){
			left: auto;
			right: 0;
			top: 353px;
		}

		&:nth-child(3){
			left: 15px;
			top: 668px;
		}
	}

	.container{
		position: relative;
		width: 100%;
		display: flex;
		align-items: center;
	}
}

.company-img{
	display: block;
	width: 100%;
	height: auto;
}

.new-terminal{
	padding: 30px 15px;
	margin: auto 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: auto;
	max-width: 1020px;

	&__left{
		width: 60%;
		flex: 1 1 60%;
		margin: 0 20px 0 0;
		display: flex;
		align-items: center;

		img{
			width: 100%;
			height: auto;
		}
	}

	&__right{
		width: 360px;
		flex: 0 0 360px;
		display: flex;
		align-items: center;
	}


	@media only screen and (max-width : 680px) {
		flex-direction: column;
		max-width: 360px;

		&__left{
			margin: 0;
			width: 100%;
		}

		&__right{
			width: 100%;
		}
	}
}

.terminal-form{
	color: #000;

	&__title{
		font-family: $sfpDisplaySB;
		font-size: 45px;
		color: #000;
		margin: 0 0 44px;
		line-height: 1.2;
		letter-spacing: -0.003em;
	}

	&__separator{
		height: 1px;
		width: 100%;
		background: #ccc;
	}

	&__qty-line{
		font-family: $sfpDisplaySB;
		font-size: 25px;
		display: flex;
		justify-content: space-between;
		padding: 14px 0;
	}

	&__line{
		position: relative;
		margin: 0 0 32px;
	}
	
	&__input{
		height: 56px;
		border: 1px solid #ccc;
		width: 100%;
		border-radius: 4px;
		padding: 0 70px 0 18px;
		color: #000;

		&::placeholder{
			color: #888888;
		}
	}

	&__apply{
		font-family: $sfpDisplaySB;
		font-size: 18px;
		position: absolute;
		right: 0;
		top: 50%;
		padding: 0 18px;
		height: 56px;
		color: #0070C9;
		background: transparent;
		border: none;
		transform: translateY(-50%);
		cursor: pointer;
	}

	&__submit{
		margin: 32px 0 0;
		border-radius: 4px;
		padding: 0 10px;
		color: #fff;
		height: 42px;
		font-size: 18px;
		border: 1px solid #2c8ed4;
		background: linear-gradient(to bottom, #42a1ec 0%,#0473cb 100%);
		cursor: pointer;
		width: 100%;
	}


	@media only screen and (max-width : 680px) {
		width: 100%;

		&__title{
			text-align: center;
			font-size: 36px;
			margin: 28px 0;
		}
	}
}


.checkout-form{
	color: #000;
	max-width: 1020px;
	padding: 30px 15px;
	margin: auto;
	font-family: $sfpText;

	&__title{
		font-size: 40px;
		line-height: 1.2;
		margin: 12px 0 26px;
	}

	&__cols{
		display: flex;
		justify-content: space-between;
		padding: 0 0 30px;
	}

	&__col{
		display: flex;
		flex-direction: column;
		margin: 0 0 0 25px;
		flex: 1 1;

		&:first-child{
			margin: 0;
		}
	}

	&__col-title{
		font-size: 24px;
		line-height: 1.26;
		margin: 12px 0 8px;
	}

	&__multi-line{
		margin: 15px 0 0;
		display: flex;
		justify-content: space-between;

		.checkout-form__line{
			flex: 1 1;
			margin: 0 0 0 15px;

			&:first-child{
				margin: 0;
			}
		}
	}

	&__line{
		position: relative;
		margin: 15px 0 0;
		height: 56px;
	}

	&__label{
		position: absolute;
		left: 18px;
		top: 11px;
		line-height: 1.2;
		font-family: $sfpText;
		font-size: 12px;
		color: #666666;
		z-index: 10;
	}

	&__input{
		font-family: $sfpText;
		width: 100%;
		height: 56px;
		font-size: 17px;
		border: 1px solid #d5d5d5;
		padding: 0 18px;
		color: #000;
		border-radius: 4px;

		&::placeholder{
			color: #888888;
		}

		&.--with-label{
			padding: 26px 18px 10px;
		}
	}

	&__tips{
		margin: 15px 0 0;
		border-top: 1px solid #d5d5d5;
		border-bottom: 1px solid #d5d5d5;
	}

	&__tip{
		font-size: 14px;
		color: #333;
		line-height: 1.48;
		margin: 5px 0px 0;
		padding: 10px 15px;

		&:first-child{
			margin: 0;
		}
	}

	&__submit{
		font-family: $sfpText;
		margin: auto 0 0;
		border-radius: 4px;
		padding: 0 10px;
		color: #fff;
		height: 56px;
		font-size: 17px;
		border: 1px solid #2c8ed4;
		background: linear-gradient(to bottom, #42a1ec 0%,#0473cb 100%);
		cursor: pointer;
		width: 100%;
	}

	@media only screen and (max-width : 860px) {
		

		&__multi-line{
			flex-direction: column;

			.checkout-form__line{
				margin: 15px 0 0;
			}
		}
	}

	@media only screen and (max-width : 560px) {
		

		&__cols{
			flex-direction: column;
		}

		&__col{
			margin: 28px 0 0;
		}
	}
}

.basic-select.single{
	width: 100%;
	display: block;

	.selectize-input{
		font-family: $sfpText;
		width: 100%;
		height: 56px;
		font-size: 17px;
		border-radius: 4px;
		border: 1px solid #d5d5d5;
		background: #fff;
		box-shadow: none;
		padding: 26px 18px 10px;
	}

	.selectize-dropdown{
		z-index: 11;
	}
}