/* Content
-----------------------------------------------------------------------------*/

.content {
	section {
		width: 100%;
	}
	
	padding: 45px 0 0;
}

.section{
	color: #F4DED1;
}

.intro{
	min-height: 100vh;
	align-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	margin: 100px 0 0;

	&__img{
		
	}

	&__title{
		max-width: 600px;
		font-size: 80px;
		font-family: $sfpDisplaySB;
		margin: 16px auto 40px;
	}

	&__desc{
		max-width: 740px;
		font-size: 32px;
		font-family: $sfpDisplaySB;
		margin: 0 auto 63px;
	}

	&__more{
		font-family: $sfpDisplaySB;
		font-size: 24px;

		a{
			margin: 0 30px;
			color: #F4DED1;

			&:hover{
				color: #66b9ff;

				.sprite-icon{
					fill: #66b9ff;
				}
			}
		}

		.sprite-icon{
			position: relative;
			fill: #F4DED1;
			margin: 0 0 0 5px;
			transition: all 0.1s;

			&.video{
				top: 5px;
				width: 26px;
				height: 26px;
			}

			&.arrow-more{
				width: 7px;
				height: 13px;
			}
		}
	}
}

.promo{

	&__link{
		position: relative;
		max-width: 1036px;
		display: block;
		margin: 0 auto;

		&:hover{
			.promo__more{
				color: #66b9ff;

				.sprite-icon{
					fill: #66b9ff;
				}
			}
		}
	}

	&__img{
		display: block;
		width: 100%;
		height: auto;
	}

	&__more{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 220%);
		font-size: 24px;
		transition: all 0.1s;
		color: #fff;

		.sprite-icon{
			position: relative;
			fill: #fff;
			margin: 0 0 0 5px;
			transition: all 0.1s;

			&.video{
				top: 5px;
				width: 26px;
				height: 26px;
			}

			&.arrow-more{
				width: 7px;
				height: 13px;
			}
		}
	}
}

.slogan{
	font-family: $sfpDisplaySB;
	margin: 114px 0 160px;
	padding: 0;

	&__desc{
		font-size: 80px;
		margin: 0 0 30px;
		line-height: 1.268;
	}

	&__btn{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 160px;
		border-radius: 28px;
		font-size: 18px;
		height: 56px;
		border: 2px solid #F4DED1;
		cursor: pointer;
		color: #F4DED1;

		&:hover{
			text-decoration: none;
			color: #66b9ff;
			border-color: #66b9ff;
		}
	}
}

.monitor-features{
	position: relative;
	margin: 286px 0 100px;
	padding: 40px 0 60px;
	background: linear-gradient(to bottom, #000000 0%,#111111 100%);

	&__img{
		margin: 0 auto;
		position: relative;
		left: 48px;
	}

	&__item{
		font-size: 21px;
		width: 330px;
		padding: 15px;
		position: absolute;

		span{
			color: #fff;
		}

		&:nth-child(1){
			left: 0;
			top: 30px;
		}

		&:nth-child(2){
			left: auto;
			right: 0;
			top: 368px;
		}

		&:nth-child(3){
			left: 0;
			top: 696px;
		}
	}

	.container{
		position: relative;
		width: 100%;
		display: flex;
		align-items: center;
	}
}

.company-img{
	display: block;
	width: 100%;
	height: auto;
}