.models {
	min-height: 100vh;
	align-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
    color: var(--clr-Btext);
    background-color: var(--clr-Wback);
    margin-top: 65px;
    
    &__question {
        height: 44px;
        width: 100%;
        padding-top: 15px;
        font-size: 12px;
        a {
            color: #38f;
            display: inline;
        }
    }
    &__mode {
        height: 52px;
        width: 100%;
        ul {
            display: flex;
            list-style-type:none;
            padding: 0;
            justify-content: center;
        }
        &__item {
            margin: 0 30px 0 0;
            align-items: center;
        }
        &__link {
            display: block;
            padding: 0 15px;
            height: 45px;
            display: flex;
            align-items: center;
            color: var(--clr-Btext);
        }
    }
    &__title {
        font-size: 40px;
        font-weight: 600;
    }
    .selections {
        width: 100%;
        &__item {
            display: flex;
            padding: 5px 28% 70px;
            &__info {
                text-align: left;
                margin-left: 33px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding-bottom: 33px;
                p {
                    margin: 0;
                }
                .info {
                    &__new {
                        font-size: 18px;
                        color: red;
                    }
                    &__title {
                        font-size: 23px;
                    }
                    &__size {
                        font-size: 18px;
                    }
                    &__desc {
                        font-size: 15px;
                        margin-top: 23px;
                    }
                }

                button {
                    width: 90px;
                    height: 39px;
                    color: var(--clr-Wtext);
                    background-color: #3194E1;
                    font-size: 19px;
                    margin-top: 21px;
                    border-width: 0px;
                    border-radius: 5px;
                    &:hover {
                        background-color: #3194E1;
                    }
                }
            }
            &__imgwrapper {
                width: fit-content;
                &__img {
                    width: 349px;
                }
            }
            
            &:last-child {                
                &__info {
                    padding-bottom: 48px;
                }
            }
        }
    }
}
.carousel {
	min-height: 60vh;
    color: var(--clr-Wtext);
    background-color: var(--clr-Bback);

    display: block;
    .slider {
        width: 50%;
        margin: 100px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-prev:before,
    .slick-next:before {
      color: rgba(255, 255, 255, 0.5);
      font-size: 28px;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
    }

    .slick-dots li.slick-active button:before {
        color: var(--clr-Wback) !important;
        opacity: 1;
    }
    
    .slick-dots li button:before {
        color: var(--clr-Wback) !important;
        opacity: .5;
    }
    
    .slick-dotted.slick-slider {
        margin-bottom: 80px !important;
    }

    &__content {
        width: 40%;
        margin: 50px auto;
        &__item {
            display: flex !important;
            justify-content: center;
            img {
                width: 650px;
                height: 650px;;
            }
        }
    }
}

.components {
    min-height: 70vh;
    width: 100%;
    color: var(--clr-Btext);
    background-color: var(--clr-Wback);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &__title {
        font-size: 40px;
        font-weight: 600;
        margin-top: 0;
    }
    &__list {
        width: fit-content;
    }
    &__item {
        display: inline-block;
        width: 220px;
        img {
            width: 220px;
        }
        &__desc {
            text-align: center;
        }
    }
}

.movies {
	min-height: 80vh;
    color: var(--clr-Wtext);
    background-color: var(--clr-Bback);
}

.fre-questions {
	min-height: 130vh;
    color: var(--clr-Btext);
    background-color: var(--clr-Wback);
}