$icons: (
	  sprite: (width: 118px, height: 128px, svgPath: '../img/sprite.svg'),
 	arrow-more: (width: 7.063px, height: 13.063px, backgroundX: 0px, backgroundY: 0px),
 	bag_icon-1: (width: 17.549px, height: 17.549px, backgroundX: -8px, backgroundY: -14px),
 	bag_icon-2: (width: 16.142px, height: 17.545px, backgroundX: -26px, backgroundY: -32px),
 	bag_icon-3: (width: 19.169px, height: 19.169px, backgroundX: -43px, backgroundY: -50px),
 	lock: (width: 14px, height: 17px, backgroundX: -63px, backgroundY: -70px),
 	search: (width: 15px, height: 15px, backgroundX: -77px, backgroundY: -87px),
 	video: (width: 26px, height: 26px, backgroundX: -92px, backgroundY: -102px),
);
