$icons: (
	  sprite: (width: 297px, height: 297px, svgPath: '../img/sprite.svg'),
 	arrow-more: (width: 7.063px, height: 13.063px, backgroundX: 0px, backgroundY: 0px),
 	bag_icon-1: (width: 17.549px, height: 17.549px, backgroundX: -8px, backgroundY: -14px),
 	bag_icon-2: (width: 16.142px, height: 17.545px, backgroundX: -26px, backgroundY: -32px),
 	bag_icon-3: (width: 19.169px, height: 19.169px, backgroundX: -43px, backgroundY: -50px),
 	chat: (width: 51.1px, height: 38px, backgroundX: -63px, backgroundY: -70px),
 	delivery: (width: 39.9px, height: 43.6px, backgroundX: -115px, backgroundY: -108px),
 	gear: (width: 44px, height: 44px, backgroundX: -155px, backgroundY: -152px),
 	lock: (width: 14px, height: 17px, backgroundX: -199px, backgroundY: -196px),
 	question: (width: 42.9px, height: 42.9px, backgroundX: -213px, backgroundY: -213px),
 	search: (width: 15px, height: 15px, backgroundX: -256px, backgroundY: -256px),
 	video: (width: 26px, height: 26px, backgroundX: -271px, backgroundY: -271px),
);
