.icon {
	display: inline-block;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-more {
	font-size:(13.063/16)*1rem;
	width:(7.063/13.063)*1em;
}
.icon-bag_icon-1 {
	font-size:(17.549/16)*1rem;
	width:(17.549/17.549)*1em;
}
.icon-bag_icon-2 {
	font-size:(17.545/16)*1rem;
	width:(16.142/17.545)*1em;
}
.icon-bag_icon-3 {
	font-size:(19.169/16)*1rem;
	width:(19.169/19.169)*1em;
}
.icon-chat {
	font-size:(38/16)*1rem;
	width:(51.1/38)*1em;
}
.icon-delivery {
	font-size:(43.6/16)*1rem;
	width:(39.9/43.6)*1em;
}
.icon-gear {
	font-size:(44/16)*1rem;
	width:(44/44)*1em;
}
.icon-lock {
	font-size:(17/16)*1rem;
	width:(14/17)*1em;
}
.icon-question {
	font-size:(42.9/16)*1rem;
	width:(42.9/42.9)*1em;
}
.icon-search {
	font-size:(15/16)*1rem;
	width:(15/15)*1em;
}
.icon-video {
	font-size:(26/16)*1rem;
	width:(26/26)*1em;
}
