$icons: (
	  sprite: (width: 63px, height: 72px, svgPath: '../img/sprite.svg'),
 	arrow-more: (width: 7.063px, height: 13.063px, backgroundX: 0px, backgroundY: 0px),
 	lock: (width: 14px, height: 17px, backgroundX: -8px, backgroundY: -14px),
 	search: (width: 15px, height: 15px, backgroundX: -22px, backgroundY: -31px),
 	video: (width: 26px, height: 26px, backgroundX: -37px, backgroundY: -46px),
);
