.terminal{
    h1,h4{
        font-size: 80px;
        margin: 0;
        color: black;
    }
    h4{
        font-size: 32px;
        letter-spacing: .2px;
        margin-top: -5px;
        margin-bottom: 30px;
    }
    section{
        min-height: 500px;
        padding: 75px 0 80px;
        &:nth-child(2){
            padding: 55px 0 100px;
        }
        &:nth-child(3) {
            border-bottom: 2px solid #d6d6d6;
            padding-bottom: 205px;
        }
        &:nth-child(4) {
            padding-bottom: 295px;
        }
        &:nth-child(5) {
            padding-top: 20px;
            padding-bottom: 50px;
        }

        &.gray{
            background-color: #FAFAFA;
        }
        &.black {
            background-color: black;
        }
        .image-info{
            display: flex;
            align-items: flex-start;

            .info,img{
                width: 50%;
            }
            ul{
                padding-left: 4px;
                margin-top: 81px;
                li{
                    color: black;
                    font-size: 24px;
                    letter-spacing: -.5px;
                    margin-bottom: 2px;
                    span{
                        color: #4D4D4D;
                        font-size: 20px;
                    }
                }
            }
            h2 {
                margin-top: 0;
                font-size: 38px;
                letter-spacing: -.5px;
                margin-bottom: 0;
            }
            &.in-the-box{
                align-items: flex-start;
                padding-top: 150px;
                .info{
                    margin-left: 85px;
                    ul{
                        margin-top: 20px;
                        margin-left: 14px;
                    }
                }
            }
            &.security {
                align-items: flex-start;
                .info{
                    padding-top: 155px;
                    width: 70%;
                }
                img{
                    width: 30%;
                    margin-top: 60px;
                    transform: scale(1.68);
                    transform-origin: top right;
                }
                ul{
                    margin-top: 15px;
                }
            }
        }
        .btn {
                display: block;
                text-decoration: none;
                width: 137px;
                height: 35px;
                background: linear-gradient(#42a1ec, #0170c9);
                border: 1px solid #07c;
                color: #fff;
                text-align: center;
                line-height: 32px;
                border-radius: 5px;
                font-size: 21px;
                cursor: pointer;
                margin-top: 40px;            
                &.left-side{
                    margin-left: -15px;
                }
        }
        .movies-block {
            color: white;
            padding: 0 45px;
            h3 {
                font-size: 30px;
                margin-bottom: 25px;
            }
        }
    }
    .first-screen{
        h1,h4{
            text-align: center;
        }
        img{
            transform: scale(1.1);
            transform-origin: top right;
        }
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 45px;
        color: #363636;
    }

    .slick-prev,
    .slick-next {
        width: 45px;
        height: 46px;
    }

    .slider {
        width: 630px;
        .slick-prev,
        .slick-next {
            top: 67%;
        }

        .slick-prev {
            left: -145px;
        }

        .slick-next {
            right: -145px;
        }

        .slick-dots {
            width: calc(100% - 30px);
            bottom: -33px;
        }

        .slick-dots li {
            margin: 0 -2px;
        }

        .slick-dots li button:before {
            color: white !important;
        }
    }

    .movies-block{

        .slick-prev,
        .slick-next {
            top: 40%;
        }

        .slick-prev {
            left: -45px;
        }

        .slick-next {
            right: -45px;
        }
    }


    .movie-item{
        padding: 0px 10px;
        color: #3D3D3D;
        p{
            text-align: center;
            margin-top: 0px;
            font-size: 16px;
        }
        iframe{
            max-width: 100%;
            padding: 20px;
            border: 1px solid #3D3D3D;
        }
    }
    .movies-slider{
        margin: 0px -10px;
        margin-bottom: 10px
    }
    
}