/*----- FONTS -----*/

$sfpText:							'SF Pro Text', Arial, Helvetica, sans-serif;
$sfpTextSB:							'SF Pro Text Semibold', Arial, Helvetica, sans-serif;
$sfpDisplaySB:						'SF Pro Display', Arial, Helvetica, sans-serif;

// end FONT

/*
$_________:					'________', Arial, Helvetica, sans-serif;
$_________:					'________', Arial, Helvetica, sans-serif;
*/


/*----- COLORS -----*/

$clr-text:			#000000;

// end COLORS
