/*----- FONTS -----*/

$_________:							'________', Arial, Helvetica, sans-serif;

$font-size: 16px;

// end FONT

/*
$_________:					'________', Arial, Helvetica, sans-serif;
$_________:					'________', Arial, Helvetica, sans-serif;
*/


/*----- COLORS -----*/

$clr-text:			#000000;

// end COLORS
