/*----- FONTS -----*/

$sfpText:							'SF Pro Text', Arial, Helvetica, sans-serif;
$sfpDisplaySB:						'SF Pro Display', Arial, Helvetica, sans-serif;

// end FONT

/*
$_________:					'________', Arial, Helvetica, sans-serif;
$_________:					'________', Arial, Helvetica, sans-serif;
*/


/*----- COLORS -----*/
:root {
    --clr-Btext:			#000000;
    --clr-Wtext:			#FFFFFF;
    --clr-Bback:			#000000;
    --clr-Wback:			#FFFFFF;
}

// end COLORS
